bin
.buildozer
test.py
OldPasslock
PassLOCK_old
OtherStuff
kivymd1
kivymd2
kivymd_orginal
.idea
screenshot_original
__pycache__
.vscode
data
test.txt
libs/firebase_config.py
backup_design.kv
myapp.profile
.env
api_key.txt